<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="LDAP Path" value="LDAP://seri.sailpointdemo.com/dc=seri,dc=sailpointdemo,dc=com"/>
    <add key="CSV Path" value="inputData.csv"/>
    <!-- Log file must be accessible by all users, application creates a log directory and file with universal acceess rights. -->
    <add key="Log Path" value="C:\Data"/>
    <add key="AD Address" value="@seri.sailpointdemo.com"/>
    <add key="FS Path" value="seri"/>
  </appSettings>
</configuration>